body {
  background: linear-gradient(135deg, #00afff, #002f64);
  min-height: 100vh;
  margin: 0;
}
.header {
  color: #ff5000;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 0px 5px #2c0e00;
  animation: glow 2s ease-in-out infinite alternate;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  filter: drop-shadow(1);
}
